@import 'tailwindcss';

:root {
  /* DEFAULT / LIGHT MODE */
  --primary: #001c55;
  --secondary: #5291f8;
  --accent: #ef3054;
  --neutrals: #5e5d5c;
  --background: #f9fafb;
  --foreground: #111827;
  --normal-foreground: #000000;
  --input-bg: #ffffff;
  --input-border: #99a1af;
  --footer-background: #e5e7eb;
  --footer-text: #4b5563;
  --footer-text-hover: #5291f8;
  --foredit: #4179d3;
  --movie-count-tag: #4179d3;
}

.dark {
  /* DARK MODE */
  --primary: #5291f8;
  --secondary: #001c55;
  --neutrals: #9ca3af;
  --background: #111827;
  --foreground: #f9fafb;
  --normal-foreground: #ffffff;
  --input-background: #1c2740;
  --input-border: #354978;
  --footer-background: #182136;
  --footer-text: #d1d5db;
  --footer-text-hover: #5291f8;
  --foredit: #4179d3;
  --movie-count-tag: #4179d3;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-neutral: var(--neutrals);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-normal: var(--normal-foreground);
  --color-inputbg: var(--input-background);
  --color-inputbrdr: var(--input-border);
  --color-footerbg: var(--footer-background);
  --color-footertxt: var(--footer-text);
  --color-footertxt-hover: var(--footer-text-hover);
  --color-editicon: var(--foredit);
  --color-movite-count-tag: var(--movie-count-tag);

  --shadow-form: 0 20px 50px rgba(0, 28, 85, 0.4);
  --shadow-form-dark: 0 20px 50px rgba(82, 145, 248, 0.2);

  /* SUBTLE VERSION */
  --shadow-form-sublte: 0 4px 10px rgba(0, 28, 85, 0.12);
  --shadow-form-dark-sublte: 0 4px 12px rgba(82, 145, 248, 0.15);
}

.shadow-form {
  box-shadow: var(--shadow-form);
}

.dark .shadow-form {
  box-shadow: var(--shadow-form-dark);
}

.shadow-form-s {
  box-shadow: var(--shadow-form-sublte);
}

.dark .shadow-form-s {
  box-shadow: var(--shadow-form-dark-sublte);
}
